<%- include('templates/head.ejs') %>
<link rel="stylesheet" href="/css/styles.css">
</head>
    <body>
        <header>
            <nav>
                <a href ="#">Bienvenido</a>
                <a href ="#">Nosotros</a>
                <a href ="#">Servicios</a>
                <a href ="#">Contacto</a>
            </nav>

            <section class="textos-header">
                <h1>
                    Hola mi nombre es Nicolle,
                </h1>
                <h1>
                    yo me especializo en asesoria y
                    desarrollo de software.
                </h1>

            </section>

            <div class= "wave" style="height: 150px; overflow: hidden;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C290.34,215.63 262.69,-55.75 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                          style="stroke: none; fill: #ffffff;">
                    </path></svg></div>
        </header>
        <main>
            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Nosotros:</h2>
                <div class="contenedor-sobre-nosotros">
                    <img src="img/mision.svg" alt="" class="imagen-about-us">
                    <div class="contenido-textos">
                        <h3><span>1</span>Mision</h3>
                        <p>Ser reconocida y aceptada por nuestros Servicios,
                            priorizo la mejora continua de paso brindar confianza y
                            mejorar la calidad de vida de nuestros clientes.</p>
                        <h3><span>2</span>Vision</h3>
                        <p>impulsar el desarrollo de software de alta calidad,
                            satisfaciendo las necesidades de micros, medianas
                            y grandes compañías. Aplicando tecnologías recientes.</p>
                    </div>
                </div>
            </section>
            <section class="servicios">
                <div class="contenedor">
                    <h2 class="titulo">Servicios</h2>
                    <div class="galeria-port">
                        <div class="imagen-port">
                            <img src="img/img1.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img2.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img3.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img1.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img4.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img5.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img6.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="img/img7.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="img/icono1.png" alt="">
                                <p>Nuestro trabajo</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>

        <footer class="container">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Nombres">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Apellidos">
                    </div>

                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1"></label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="Correo Electronico">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"
                              placeholder="Texto" >
                    </textarea>
                </div>
                <button type="button" class="btn btn-outline-info">Enviar</button>
            </form>
            <h2 class="titulo-final">nicolle p.z</h2>
        </footer>
    </body>

</html>
        <main>

        </main>


    </body>
</html>
